body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
  }

  .container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }

  header{
    /*background:#35424a; **/
    background-color: chocolate;
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
  }

  header .highlight, header .current a{
    color:#e8491d;
    font-weight:bold;
  }
  

 
  header a{
    color:black;
    text-decoration:none;
    text-transform: lowercase;
    font-size:16px;
  }
  
  header li{
    float:left;
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }

  section button{
    float:right;
    height:50px;
    /*background:#e8491d;*/
    background-color: aqua;
    border:0;
    margin:5px;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
  }

   /* Showcase */
   #showcase{
    min-height:400px;
    /*background:url('../img/burger2.jpg') no-repeat 0 -400px;*/
    background-image: url('../images/burger.jpg');
    text-align:center;
    color:white;
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
  }
  
  #showcase p{
    font-size:20px;
  }
  
  #register{
    padding:15px;
    color:black;
    background:white
  }
  
  /* Order area styling */
  #order{
    padding:15px;
    color:chocolate;
    background:white
  }

  /* Boxes */
  #boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes .box img{
    width:90px;
  }

  footer{
    padding:20px;
    margin-top:20px;
    color:black;
    background-color:white;
    text-align: center;
  }
  